{% extends 'pools/show.html' %}

{% load crispy_forms_tags %}

{% block content %}
    <h2>{{ lane.cluster }} - {{ lane }} - {{ lane.size }} places</h2>
    
    {% if success_msg %}
        <h3>
            {{ success_msg }}
        </h3>
    {% endif %}

    <div class="reservations">
        <h3>Reservations</h3>
        <ul>
            {% for reservation in lane.reservations.all %}
                <li>
                    {{ reservation.start }} - {{ reservation.end }}, with {{ reservation.size }} places taken
                </li>
            {% endfor %}
        </ul>
    </div>

    <div class="reserve">
        <h3>Reserve</h3>
        {% crispy form %}
    </div>
{% endblock %}
