{% extends 'pools/base.html' %}
{% load crispy_forms_tags %}

{% load pools_tags %}
{% load lanes_tags %}


{% block sidebar_content %}
    {% lanes_list pool %}
{% endblock %}

{% block content %}
<h2>{{ pool }}</h2>
<p>
    Find lanes with periods in which these lanes can be reserved for the given number of minutes. For example,
    you may wish to reserve a lane for 60 minutes on the weekend.
</p>
{% crispy form %}
<ul>
    {% for lane, periods in lanes_and_periods %}
        <li>
            <a href="{% url 'lanes.views.reserve' lane.id %}">{{ lane }}</a>
            <ul>
                {% for p in periods %}
                    <li>
                        {% nice_period p %}
                    </li>
                {% endfor %}
            </ul>
        </li>
    {% endfor %}
</ul>
{% endblock %}

