{% extends 'pools/base.html' %}
{% load crispy_forms_tags %}

{% load pools_tags %}
{% load lanes_tags %}


{% block sidebar_content %}
    {% lanes_list pool %}
{% endblock %}

{% block content %}
    <h2>{{ pool }}</h2>
    

    <h3>Search reservations</h3>
    <div class="reservations-search">
        {% crispy form %}
    </div>
    <p></p>
    <h3>Reservations</h3>
    {% if reservations %}
        <ul>
            {% for reservation in reservations %}
                <li><a href="{% url 'reserve-lane' reservation.subject_id %}">{{ reservation }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No reservations</p>
    {% endif %}
    
{% endblock %}
