{% extends 'pools/base.html' %}
{% load crispy_forms_tags %}

{% load pools_tags %}
{% load lanes_tags %}

{% block sidebar_content %}
    {% lanes_list pool %}
{% endblock %}

{% block content %}
<h2>{{ pool }}</h2>
<p>See more:</p>
<ul>
    <li>
        <a href="{% url 'show-pool-availability' pool.id %}">
            Search available lanes
        </a>
    </li>
    <li>
        <a href="{% url 'show-pool-reservations' pool.id %}">
            See reservations on the pool
        </a>
    </li>
    <li>
        <a href="{% url 'show-pool-available-periods' pool.id %}">
            Find available periods
        </a>
    </li>
</ul>
{% endblock %}
