{% extends 'pools/base.html' %}
{% load crispy_forms_tags %}

{% load pools_tags %}
{% load lanes_tags %}


{% block sidebar_content %}
    {% lanes_list pool %}
{% endblock %}

{% block content %}
    <h2>{{ pool }}</h2>
    <div>
        <ul>
            See more:
            <li>
                <a href="{% url 'show-pool-availability' pool.id %}">
                    Search available dates
                </a>
            </li>
            <li>
                <a href="{% url 'show-pool-reservations' pool.id %}">
                    See reservations on the pool
                </a>
            </li>
        </ul>
    </div>
    
{% endblock %}
