{% extends 'pools/show.html' %}

{% load crispy_forms_tags %}

{% block content %}
    <h2>{{ lane.cluster }} - {{ lane }} - {{ lane.size }} places</h2>
    
    {% if success_msg %}
        <h3>
            {{ success_msg }}
        </h3>
    {% endif %}

    <div class="reservations">
        <h3>Reservations</h3>
        <ul>
            {% for reservation in lane.reservations.all %}
                <li>
                    {{ reservation.start }} - {{ reservation.end }}, with {{ reservation.size }} places 
                    taken{% if reservation.exclusive %} (exlusive){% endif %}.
                    {% if reservation.group %}
                        Reservation group: {{ reservation.group.id }}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>

    <div class="reserve">
        <h3>Reserve</h3>
        {% crispy formset formset.form.helper %}
    </div>
    
    <div class="lane-reservations-nr-form">
        <h3>Number of reservation forms</h3>
        {% crispy lane_reservations_nr_form %}
    </div>
{% endblock %}
