{% extends 'pools_base.html' %}
{% load crispy_forms_tags %}

{% load pools_tags %}
{% load lanes_tags %}


{% block sidebar_content %}
    {% lanes_list pool %}
{% endblock %}

{% block content %}
    <h2>{{ pool }}</h2>
    
    <h3>Search available</h3>
    {% crispy form %}
    
    <p></p>

    <h3>Results</h3>
    {% if results %}
        <ul>
            {% for result in results %}
                <li><a href="{% url reserve-lane result.id %}">{{ result }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No results</p>
    {% endif %}

    <hr>

    <h3>Search reservations</h3>
    <div class="reservations-search">
        {% crispy reservations_form %}
    </div>
    <p></p>
    <h3>Reservations</h3>
    {% if reservations %}
        <ul>
            {% for reservation in reservations %}
                <li><a href="{% url reserve-lane reservation.subject_id %}">{{ reservation }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No reservations</p>
    {% endif %}
    
{% endblock %}
