{% extends 'pools_base.html' %}

{% load pools_tags %}
{% load lanes_tags %}


{% block sidebar_content %}
    {% lanes_list pool %}
{% endblock %}

{% block content %}
    <h2>{{ pool }}</h2>

    <h3>Search available</h3>
    <form method='get'>
        {{ form.as_p }}
        <input type='submit'>
    </form>
    
    <p></p>

    <h3>Results</h3>
    {% if results %}
        <ul>
            {% for result in results %}
                <li><a href="{% url reserve-lane result.id %}">{{ result }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No results</p>
    {% endif %}
{% endblock %}